<div class="text-center p-5">
  <h1 class="bg-success p-2 text-white rounded-pill" >Skin Sample submissions</h1>
  <%= render 'svg' %>
  <p style="color: green;background: white"><%= notice %></p>

<%= link_to "Add New sample", new_sample_submission_path,class: "btn btn-primary btn-lg" %>
  <div class="p-5">
  <table class="table table-dark">
    <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Result</th>
        </tr>
    </thead>
    <tbody>
    <% @sample_submissions.each do |x| %>
        <tr>
          <td><%= x.name %></td>
          <td><%= x.age %></td>
          <td><%= x.gender %></td>
          <td><%= x.sample_response %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>